/* Import */

@import '../config.scss';

/* Main */

.heading {
	font-size: 1.75rem;
	margin: 2rem 0;
}

.list {
	padding: 0;
	margin: 0;
}

.item {
	background-color: $col-dark-2;
	list-style: none;

	padding: 1rem;
	margin-bottom: 1rem;

	cursor: pointer;

	&:hover {
		transform: scale(1.005);
	}

	h2 {
		margin: 0;
		margin-bottom: 1rem;
	}
}
