/* Colors */

$foreground: #CCCCCC;
$background: #0C0C0C;

$cursorColor: #FFFFFF;

$black: #0C0C0C;
$red: #C50F1F;
$green: #13A10E;
$yellow: #C19C00;
$blue: #0037DA;
$purple: #881798;
$cyan: #3A96DD;
$white: #CCCCCC;

$brightBlack: #767676;
$brightRed: #E74856;
$brightGreen: #16C60C;
$brightYellow: #F9F1A5;
$brightBlue: #3B78FF;
$brightPurple: #B4009E;
$brightCyan: #61D6D6;
$brightWhite: #F2F2F2;

/* Classes */

.ansi-black-fg { color: $black; }
.ansi-red-fg { color: $red; }
.ansi-green-fg { color: $green; }
.ansi-yellow-fg { color: $yellow; }
.ansi-blue-fg { color: $blue; }
.ansi-purple-fg { color: $purple; }
.ansi-cyan-fg { color: $cyan; }
.ansi-white-fg { color: $white; }

.ansi-bright-black-fg { color: $brightBlack; }
.ansi-bright-red-fg { color: $brightRed; }
.ansi-bright-green-fg { color: $brightGreen; }
.ansi-bright-yellow-fg { color: $brightYellow; }
.ansi-bright-blue-fg { color: $brightBlue; }
.ansi-bright-purple-fg { color: $brightPurple; }
.ansi-bright-cyan-fg { color: $brightCyan; }
.ansi-bright-white-fg { color: $brightWhite; }
