/* Imports */

@import '../../node_modules/normalize.css/normalize.css';
@import './colors.scss';

/* Global */

body {
	background-color: $background;
	color: $foreground;

	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono",
		"Bitstream Vera Sans Mono", "Courier New", monospace, serif;

	line-height: 1.25rem;
	margin: 1rem;
}

span {
	word-break: break-all;
}

/* Prompt */

.prompt, .input {
	margin: 0;

	span:nth-of-type(1) {
		color: $brightCyan;
	}

	span:nth-of-type(2) {
		color: $brightGreen;
	}
}

.input span[contenteditable] {
	outline: 0;
	border: 0;

	background-color: inherit;
	color: $foreground;
}
