/* Imports */

@import '../../node_modules/normalize.css/normalize.css';
@import './colors.scss';

/* Global */

body {
	background-color: $background;
	color: $foreground;

	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono",
		"Bitstream Vera Sans Mono", "Courier New", monospace, serif;

	margin: 1rem;
}

/* Prompt */

.prompt {
	input {
		background-color: inherit;
		color: $foreground;

		outline: 0;
		border: 0;

		width: calc(100vw - 4rem);
	}
}
