.header {
	padding: 1rem;

	border-bottom: 1px #fff solid;

	background-color: #161616;
}

.container {
	display: flex;

	justify-content: space-between;

	margin: auto;

	max-width: 1200px;
}

.content {
	display: flex;

	align-items: center;

	padding: 0;
	margin: 0;

	list-style: none;

	&:nth-child(1) li {
		margin-right: 1rem;
	}

	&:nth-child(2) li {
		margin-left: 1rem;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	img {
		height: 1.5rem;
	}
}

.title {
	font-size: 1.25rem;
}
