/* Import */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic);
@import "normalize.css/normalize.css";

@import "../node_modules/milligram/src/milligram.sass";

/* Global */

.container {
	max-width: 80rem;

	padding-bottom: 7.5rem;
	padding-top: 7.5rem;
}

/* Navigation */

.navigation {
	background: #f4f5f6;
	border-bottom: .1rem solid #d1d1d1;

	position: fixed;
	z-index: 2;

	right: 0;
	top: 0;

	height: 5.2rem;
	width: 100vw;

	.container {
		display: flex;

		justify-content: space-between;
		align-items: center;

		padding: 0 2rem;

		* {
			line-height: 5.2rem;
			margin: 0;
		}
	}
}

main {
	margin-top: 5.2rem;
}

/* Hero */

.hero {
	background-color: #f4f5f6;
	text-align: center;

	padding-top: 7.5rem;
	padding-bottom: 7.5rem;

	.hero-icon {
		display: flex;
		justify-content: center;
		margin-bottom: 4.6rem;
		color: #9b4dca;
	}
	
	a {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
}

/* Blog */

.blog {
	h3 {
		margin-bottom: 3rem;
	}

	article {
		margin-bottom: 2.8rem;

		h4 {
			margin-bottom: 0.5rem;
		}
	}
}

/* Post */

.post {
	header {
		h2 {
			margin-bottom: 0.5rem;
		}
	}
}

/* Code */

pre code {
	tab-size: 4;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link,
.hljs-title,
.hljs-literal,
.hljs-number,
.hljs-name,
.hljs-attr {
	color: #9b4dca;
}

.hljs-keyword {
	color: #8464c4;
}

.hljs-string,
.hljs-meta,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
	color: #5485b6;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
	color:#adadad;
}
