/* Import */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic);
@import "normalize.css/normalize.css";

@import "milligram/src/milligram.sass";

/* Main */

.navigation {
	background: #f4f5f6;
	border-bottom: .1rem solid #d1d1d1;

	height: 5.2rem;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		max-width: 80rem;

		.title {
			display: inline;
			line-height: 5.2rem;
			margin: 0;
			cursor: pointer;

			@media (min-width: 40.0rem) {
				&:after {
					content: " Douglas";
				}
			}
		} 

		.links a {
			display: inline;
			line-height: 5.2rem;
			margin-left: 2.5rem;
		}
	}
}
